@media (prefers-color-scheme: dark) {
    html, img, video, .btn-lg, .text-muted a, .carousel-caption, .make-white, .carousel-indicators  {
        filter: invert(1);
    }
}
audio,video {
    display: block;
    margin: 0 auto;
}
.card-group {
    margin: 0 auto;
    width: 50rem;
}
.navbar-brand {
    padding-left:40px;
}